<%= form_for(@movie) do |f| %>
  <% if @movie.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@movie.errors.count, "error") %> prohibited this movie from being saved:</h2>

      <ul>
      <% @movie.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :year %><br>
    <%= f.number_field :year %>
  </div>
  <div class="field">
    <%= f.label :director_id %><br>
    <!-- the select tag creates something like the commented out html -->
    <%= f.select(:director_id, options_from_collection_for_select(Director.all, :id, :name)) %>
    <!--   <div class="field">
        <select name="director_id">
          <option value="7">Christopher Nolan</option>
          <option value="8">Francis Ford Coppola</option>
          <option value="9">Frank Darabont</option>
        </select>
      </div> -->
  </div>




  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>







