<h1>Listing roles</h1>

<table class="table content-table">
  <thead>
    <tr>
      <th>Actor</th>
      <th>Character name</th>
      <th>Movie</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @roles.each do |role| %>
      <tr>
        <td><%= role.actor.name %></td>
        <td><%= role.character_name %></td>
        <td><%= role.movie.title %></td>
        <td><%= link_to 'Show', role, :class => 'btn btn-default btn-small' %></td>
        <td><%= link_to 'Edit', edit_role_path(role), :class => 'btn btn-warning btn-small' %></td>
        <td><%= link_to 'Destroy', role, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-danger btn-small' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Role', new_role_path, :class => 'btn btn-primary btn-large' %>
