<p id="notice"><%= notice %></p>

<p>
  <strong>Actor:</strong>
  <%= @role.actor.name %>
</p>

<p>
  <strong>Character name:</strong>
  <%= @role.character_name %>
</p>

<p>
  <strong>Movie:</strong>
  <%= @role.movie.title %>
</p>

<%= link_to 'Edit', edit_role_path(@role) %> |
<%= link_to 'Back', roles_path %>
