<% if notice %>
  <div class="alert alert-success"><%= notice %></div>
<% end %>

<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @vote.user.name %>
</p>

<p>
  <strong>Movie:</strong>
  <%= @vote.movie.title %>
</p>

<%= link_to 'Edit', edit_vote_path(@vote) %> |
<%= link_to 'Back', votes_path %>
